<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{{pageTitle}}</title>
	</head>

	<body>
		{{> header}}
		<p>Hopefully you will find the information you need in here.</p>

		{{> footer}}
	</body>
	
</html>