<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{{pageTitle}}</title>
	</head>

	<body>
		{{> header}}

		<p>{{mainText}}</p>
		<h3>{{screamIt "welcome and helloooooooooooooooo"}}</h3>

		{{> footer}}
	</body>
	
</html>